<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- bootstrap -->
			<link href="/css/bootstrap.min.css" rel="stylesheet">
			<link href="/css/bootstrap-responsive.css" rel="stylesheet">
			<!-- link to main stylesheet -->
			<link href="/css/main.css" rel="stylesheet">
		</head>
		<body>
			<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
			<script src="/js/bootstrap.min.js"></script>

			<div class="container">
				<!-- Start Navigation Bar -->
				<div class="header">
						<nav>
							<ul class="nav nav-pills pull-right">
								<li role="presentation"><a href="#">About</a></li>
								<li role="presentation"><a href="/cv">C.V.</a></li>
								<li role="presentation"><a href="https://scholar.google.com/citations?user=uQ6RSIAAAAAJ&hl=en" target=_blank>Publications</a></li>
								<li role="presentation"><a href="/blog">Blog</a></li>
								<li role="presentation"><a href="/code">Code</a></li>
							</ul>
						</nav>
						<h3><a href="/">Nicholas DiQuattro</a></h3>
				</div>

				{{ content }}

			<footer class="footer">
	      	<a href="mailto:ndiquattro@ucdavis.edu"><img class="smicon" src="/images/smediaicons/email-variation.png"></a>
					<a href="https://twitter.com/nickof4"><img class="smicon" src="/images/smediaicons/twitter-variation.png"></a>
	        <a href="https://github.com/ndiquattro"><img class="smicon" src="/images/smediaicons/github.png"></a>
					<a href="http://stackoverflow.com/users/3539631/nick"><img class="smicon" src="/images/smediaicons/stackoverflow.png"></a>
			</footer>
		</div><!-- /.container -->
		</body>
	</html>
