<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- bootstrap -->
			<link href="/css/bootstrap.min.css" rel="stylesheet">
			<link href="/css/bootstrap-responsive.css" rel="stylesheet">
			<!-- link to main stylesheet -->
			<link href="/css/main.css" rel="stylesheet">
		</head>
		<body>
			<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
			<script src="/js/bootstrap.min.js"></script>

			<!-- Start Navigation Bar -->
			<div class="header">
				<div class="container">
					<nav>
						<ul class="nav nav-pills pull-right">
							<li role="presentation"><a href="#">About</a></li>
							<li role="presentation"><a href="/cv">C.V.</a></li>
							<li role="presentation"><a href="https://scholar.google.com/citations?user=uQ6RSIAAAAAJ&hl=en" target=_blank>Publications</a></li>
							<li role="presentation"><a href="/blog">Blog</a></li>
							<li role="presentation"><a href="/code">Code</a></li>
						</ul>
					</nav>
					<h3 class="text-muted"><a href="/">Nicholas DiQuattro</a></h3>
				</div>
			</div>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer class="footer">
				<div class="container">
	    		<ul>
	        	<li><a href="mailto:ndiquattro@ucdavis.edu">email</a></li>
	        	<li><a href="https://github.com/ndiquattro">github.com/ndiquattro</a></li>
				  </ul>
				</div>
			</footer>
		</body>
	</html>
